
/* Mobile */

@media(max-width:768px){

.logo{
    width:195px;
    height: 100px;
}

h1{
    font-size:22px;
}

p{
    font-size:15px;
}

.loader{
    width:170px;
}

.header {
    height: 100vh;
    width: 100%;
    /* background-color: black; */
}

.nav-bar {
    height: 10%;
    width: 100%;
    background-color: dimgray;
}


.nav-icons {
    display: none;
}
